.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 0;
  padding-top: 10px;
  width: 400px; 
}

ul {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}