.home-page{
  margin: 0;
  padding: 0;
  background-image: url('../images/background.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.logo {
  height: 400px;
  top: 25%;
  left: 18%;
  position: fixed;
  padding: 0;
  margin: 0;
}

.all-links {
  width: 300px;
  top: 40%;
}

.link{
  height: 50px;
  margin: 10px;
}